.categories-container {
  padding: 20px;
  margin: 20px;
}

.action-button-container {
  margin-bottom: 20px;
}

.full-width-table {
  width: 100%;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

mat-paginator {
  margin-top: 20px;
}