<div class="posts-container">
  <h1 class="page-title">Latest Posts</h1>
  
  <div class="posts-grid" [@listAnimation]="posts.length">
    <app-card 
      *ngFor="let post of posts"
      [id]="post.postId"
      [title]="post.title"
      [description]="post.description"
      [author]="post.userAlias"
      [categories]="post.categories"
      [numLikes]="post.num_likes"
      [numDislikes]="post.num_dislikes"
      [showInteractionButtons]="showButtons"
      (onLike)="like($event)"
      (onDislike)="dislike($event)">
    </app-card>
  </div>
</div>
